*{
  margin: 0;
  padding: 0
}


.nav-container{
background: #F98116;
background: linear-gradient(135deg, #F98116, #FCC4A1);
height: 70px;
color: white;
display: flex;
justify-content: space-between;
}

.nav-left{
  display: flex;
}

.words-b-category-container{
  width: 80vw;
  display: flex;
  margin: auto;
  overflow-x: auto;
  justify-content: space-evenly;
}

.home-container{
  display: grid;
  grid-template-rows: 100px 1fr 1fr 1fr;
}

