*{
  margin: 0;
  padding: 0
}

.nav-container{
background-color: #EA580C;
position: sticky;
top: 0;
height: 70px;
color: #593d88;
display: flex;
justify-content: space-between;
}

.nav-left{
  display: flex;
}


.home-container{
  display: grid;
  grid-template-rows: 400px 1fr 1fr 1fr;
}


.row1-container{
  grid-row: 1;
}


.row2-container{
  width: 80vw;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 10px

}


.deck-container{
  width: 50vw;
  margin: auto
}



.add-word-modal-container{
  display: "fixed";
  position: absolute;
  left: 170px;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 999;
  padding: 50px 20px;
  background-color: "white" 
}


tr, th, td{
  padding: 12px;
}